.BookItem {
  list-style: none;
  background: rgb(241, 240, 235);
  border: 2px solid rgb(112, 112, 112);
  padding: 10px;
  display: grid;
  grid-template-rows: 30px 150px 20px;
  grid-gap: 30px;
  justify-items: center;
}

.BookItem h2, p {
  margin: 0;
}


.BookItem img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}